{%extends 'base.html'%} {%block content%}

<div>
  <!-- <header class="site-header">
    <form class="add_form" method="POST">
      {{form.submit(class_="add_button")}}
    </form>
  </header> -->
    <form method="POST">
        <header class="site-header">{{form.submit(class_="add_button")}}</header>
        <div class="add-form">
      <div class="namelabel">{{form.drinkname.label}}</div>
      <div class="formbutton">{{form.drinkname(class_="formbuttons")}}</div>
      <div class="quantitylabel">{{form.quantity.label}}</div>
      <div class="formbutton">{{form.quantity(class_="formbuttons num")}}</div>
    </form>
  </div>
</div>
{%endblock%}

<div class="namelabel"></div>
<div class="quantitylabel"></div>
<div class="formbutton"></div>
